@import url(font.css);
body{
	margin: 0;
	padding: 0;
	font-family: MyRiad, sans-serif;

}
.container{
	width: 940px;
	margin: 0 auto;
}
.fluid{
	width: 100%;

}

header{
	background-image: url(../images/header.png);
	background-color: rgb(39,110,68);
	background-size: 100% 50%;
	background-repeat: no-repeat;
	padding: 75px 0 16px 0;
	border-bottom: 1px solid #5e420b;
}
.menu{
	margin: 0;
	height: 40px;
	background: linear-gradient(to bottom, #acc11e, #7f9310);
	padding: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
#logo{
	width: 180px;
	height: 182px;
	background-image: url(../images/logo.png);
	position: relative;
	top: -70px;
}
.menu > li{
	width: 95px;
	list-style: none;
}

.menu__item{
	background: linear-gradient(to bottom, #acc11e, #7f9310);
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.menu__item:hover{
	background: linear-gradient(to bottom, #fce971, #d66c2c);
	color: #ac3902;

}
.slide{
	background-image: url(../images/slide.png);
	border-radius: 10px;
	box-shadow: 0px 20px 81px -32px #605C59;
}
.second{
	background-image: url(../images/try.png);
	background-repeat: no-repeat;
	background-position: 0 30%;
	padding: 150px 0 100px;
	font-family: MyRiadCond, sans-serif;
	color: white;
	font-size: 24pt;
	position: relative;
	left: 60%;
	margin-bottom: 0;

}
article{
	background-color:rgb(118,98,58);
	border-top: 1px solid #a79777;
	border-bottom: 1px solid #5d4d2f;
	height: 340px;


}

.block{
	width: 300px;
	height: 270px;
	margin-right: 10px;
}

.block:last-child{
	margin-right: 0px;
}

.block > h3{
	font-family: MyRiad, sans-serif;
	font-size: 18px;
	color: #664f25;
	background: url(../images/arrow.png);
	height: 55px;
	line-height: 43px;
	position: relative;
	padding-left: 20px;
	margin-bottom: -12px;
}
.block > div{
	width: 282px;
	height: 256px;
	padding:1px;
}
.discounts{
	background-image: url(../images/cola.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.discounts > p{
	font-family: MyRiadCond, sans-serif;
	font-weight: bold;
	color: #005a9d;
	font-size: 24px;
	width: 75%;
	padding-left: 5px;
}
.discounts span{
	color: #f58a1e;
	font-size: 32px;
}

.butt{
	color: white;
	font-weight: bold;
	background:  url(../images/but1.png), linear-gradient(to bottom, #acc11e, #7f9310);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-decoration: none;
	display: block;
	border-radius: 5px;
	padding: 5px;
}
.discounts a{
	width: 65px;
	margin:50px 30px 10px;
}
.catalogue{
	background-image: url(../images/catalogue.png);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 5px;
	position: relative;
}
div.catalogue >img{
	position: absolute;
	bottom: -14px;
	left: -11px;
	z-index: 100
}
.catalogue a{
	width: 100px;
	height: 54px;
	font-size: 20px;
	text-align: center;
	line-height: 54px;
	position: absolute;
	right: 23px;
	bottom: 18px;
	z-index: 1;
}
.catalogue > p{
	font-family: MyRiadCond, sans-serif;
	font-weight: bold;
	color: #002f70;
	font-size: 22px;
	width: 75%;
	padding-left: 5px;
	text-align: center;
	padding-left: 44px;
	padding-top: 10px;
}
.catalogue > p.p{
	text-align: right;
	font-size: 20px;
	color: #002f70;

}
.catalogue span{
	color: #001b41;
	font-size: 26px;
}
.news{
	background:linear-gradient(to right,#86724c, #75613a);
	border-radius: 5px;
	position: relative;
}
div.info{
	background-image: url(../images/date.png);
	background-repeat: no-repeat;
	width: 83%;
	height: 26%;
	background-size: 33% 87%;
	text-align: center;
	padding-left: 50px;
	padding-top: 20px;
	color: white;
	font-weight: bold;
	font-size: 12px;
}

div.info:hover {
	color: #514328;
	background-color: #978563;
}
footer{
	background-color:rgb(102,86,56);
	border-top: 1px solid #8e8169;
	height: 300px;

}
div.ftr{
	float: left;
	width: 310px;
	height: 256px;
}
.ftr:last-child{
	margin-right: 0px;
}
p.contact{
	color: white;
	text-align: left;
	font-size: 14px;

}
input{
	border-radius: 5px;
	display: block;
	background-color: #9c8862;
	width: 138px;
	height: 22px;
	margin-bottom: 10px;
	margin-left: 70px;
}
label{
	color: #b8a37a;
	font-size: 12px;
	float: left;
}
#Message{
	width: 216px;
	height: 85px;
	margin-top: 44px;
}
.ftr a{
	width: 70px;
	height: 25px;
	font-size: 12px;
	text-align: center;
	line-height: 27px;
	position: absolute;
	right: 541px;
}

.qc{
	color: #b8a37a;
	font-size: 12px;

}
span{
	color: white;
	font-size: 12px;
	padding-left: 20px;

}
.mi{
	color: white;
	font-weight: bold;
	background:  url(../images/but1.png), linear-gradient(to bottom, #acc11e, #7f9310);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-decoration: none;
	display: block;
	right: 232px;
	bottom: -550px;
	position: relative;
}
img.img{
	position: absolute;
	left: 585px;
	bottom: -700px;
}
.indent{
	padding-left: 57px;
}
footer .container:first-child{
	height: 256px;
}
