@import url(font.css);
body{
	margin: 0;
	padding: 0;
	font-family: MyRiad, sans-serif;

}
.container{
	width: 940px;
	margin: 0 auto;
}
.fluid{
	width: 100%;
	
}

header{
	background-image: url(../images/header.png);
	background-color: rgb(39,110,68);
	background-size: 100% 50%;
	background-repeat: no-repeat;
	padding: 75px 0 16px 0;
	border-bottom: 1px solid #5e420b;
}
.menu{
	margin: 0;
	height: 40px;
	background: linear-gradient(to bottom, #acc11e, #7f9310);
	padding: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
#logo{
	width: 180px;
	height: 182px;
	background-image: url(../images/logo.png);
	position: relative;
	top: -70px;
}
.menu > li{
	width: 95px;
	list-style: none;
}

.menu__item{
	background: linear-gradient(to bottom, #acc11e, #7f9310);
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.menu__item:hover{
	background: linear-gradient(to bottom, #fce971, #d66c2c);
	color: #ac3902;
	
}





/*
.menu > li:first-child > .menu__item::before{
	content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: linear-gradient(to bottom right, #acc11e, #7f9310);
    transform: rotate(45deg);
    position: relative;
    left: -18px;
    top: 8px;

}
.menu > li:first-of-type{
	padding-left:40px;
	background-image: url(../images/menu_back.png);
	background-position: 0 50%;
}
.menu > li:last-of-type{
	padding-right:40px;
	background-image: url(../images/menu_back.png);
	background-position: 1058px 50%;
}
*/


.slide{
	background-image: url(../images/slide.png);
	border-radius: 10px;
	box-shadow: 0px 20px 81px -32px #605C59;
}
.second{
	background-image: url(../images/try.png);
	background-repeat: no-repeat;
	background-position: 0 30%;
	padding: 150px 0 100px;
	font-family: MyRiadCond, sans-serif;
	color: white;
	font-size: 24pt;
	position: relative;
	left: 60%;
	margin-bottom: 0;

}
article{
	background-color:rgb(118,98,58);
	border-top: 1px solid #a79777;
	border-bottom: 1px solid #5d4d2f;
	height: 340px;


}

.block{
	width: 300px;
	// height: 270px;
	margin-right: 10px;
}

.block:last-child{
	margin-right: 0px;
}

.block > h3{
	font-family: MyRiad, sans-serif;
	font-size: 18px;
	color: #664f25;
	background: url(../images/arrow.png);
	height: 55px;
	line-height: 43px;
	position: relative;
	padding-left: 20px;
	margin-bottom: -12px;
}
.block > div{
	width: 282px;
	height: 256px;
	padding:1px;
}
.discounts{
	background-image: url(../images/cola.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.discounts > p{
	font-family: MyRiadCond, sans-serif;
	font-weight: bold;
	color: #005a9d;
	font-size: 24px;
	width: 75%;
	padding-left: 5px;
}
.discounts span{
	color: #f58a1e;
	font-size: 32px;
}

.butt{
	color: white;
	font-weight: bold;
	background:  url(../images/but1.png), linear-gradient(to bottom, #acc11e, #7f9310);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-decoration: none;
	display: block;
	border-radius: 5px;
	padding: 5px;
}
.discounts a{
	width: 65px;
	margin:50px 30px 10px;
}
